table {
color: #333; /* Lighten up font color */
font-family: Helvetica, Arial, sans-serif; /* Nicer font */
width: 1000px;
border-collapse:
collapse; border-spacing: 0;
}

td, th { border: 1px solid #CCC; height: 30px; } /* Make cells a bit taller */

th {
background: #F3F3F3; /* Light grey background */
font-weight: bold; /* Make sure they're bold */
}

td {
background: #FAFAFA; /* Lighter grey background */
text-align: center; /* Center our text */
}

.button{
margin-top: 0px;
font-size: 20px;
width: 120px;
height: 40px;
padding: 10px 20px;
color: #fff;
border-radius: 10px;
border: none;
cursor: pointer;
background-color: #8878cc;
}
